input,
label,
button {
    font: 26px '黑体';
}

input {
    width: 487px;
    height: 60px;
    border: 1px solid #999;
    border-radius: 10px;
    text-indent: 1em;
}

label {
    display: inline-block;
    position: relative;
    height: 60px;
}

button {
    position: absolute;
    right: -120px;
    top: 0;
    width: 100px;
    height: 60px;
    padding: 0;
    background-color: rgb(47, 121, 186);
    border: 0;
    border-radius: 10px;
    color: #fff;
}

p {
    font-size: 20px;
    color: #999;
    padding-left: 60px;
}
